.section-sub-org .org-desc {
  background-color: var(--bg-card);
  box-shadow: var(--shadow-soft);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
}

.section-title {
  margin-bottom: 40px;
}

.org-desc .logo {
  width: 300px;
}

.org-desc .left-section {
  width: 30%;
  display: flex;
  justify-content: center;
}

.org-desc .left-section .logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org-desc .right-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.org-desc .org-name {
  font-size: 25px;
}

.org-desc .desc {
  color: var(--text-secondary);
  text-align: justify;
  font-size: 18px;
  text-indent: 40px;
}

.content-wrapper .left-section .act-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.content-wrapper .left-section .act-desc {
  font-size: 18px;
  color: var(--text-secondary);
  text-align: justify;
  text-indent: 40px;
}

.content-wrapper .content {
  padding: 20px;
  display: flex;
  align-items: center;
  display: flex;
  gap: 20px;
}

.content-wrapper .content .left-section {
  width: 50%;
}

.content .right-section {
  width: 45%;
}

.content-wrapper {
  background-color: var(--bg-card);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.content-wrapper .gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  border-radius: 10px;
  height: 400px;
}

.content-wrapper .gallery .image {
  border-radius: 10px;
  cursor: pointer;
}

.content-wrapper .gallery .image img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  box-shadow: var(--shadow-medium);
  border-radius: 10px;
  transition: .5s ease;
}

.content-wrapper .gallery .image img:hover {
  transform: scale(1.05);
  opacity: .4;
}

.view-more-org {
  position: fixed;
  bottom: 20px;
  left: 50px;
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-soft);
  border-radius: 20px;
  z-index: 1000;
}

.view-more-org a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.view-more-org a i {
  margin-bottom: -4px;
}

.section-title.bot {
  margin-top: 200px;
}

@media (max-width: 768px) {
  .section-sub-org .org-desc  {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .org-desc .left-section {
    width: 100%;
  }

  .org-desc .right-section {
    width: 100%;
    text-align: center;
  }

  .content-wrapper .content {
    flex-direction: column;
  }

  .content-wrapper .content .left-section {
    width: 100%;
  }

  .content .right-section {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .org-desc .desc {
    font-size: 14px;
  }

  .content-wrapper .left-section .act-desc  {
    font-size: 14px;
  }
}